/*.slide-right*/

.slide-right,
.section-02::before,
.section-02 h2.title,
.section-03::before,
.section-03 h2.title,
.section-05 ul li:nth-child(even) h3.title span.slide-txt,
.section-05 ul li:nth-child(even) h3.title div.bn{
	-webkit-animation: slide-right 3.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-right 3.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
			animation-iteration-count: infinite; 
			/*animation-fill-mode: both;*/
			/*transition: opacity .33s cubic-bezier(.645,.045,.355,1);*/
		
}



/*.slide-left*/
.section-05 ul li:nth-child(odd) h3.title span.slide-txt,
.section-05 ul li:nth-child(odd) h3.title div.bn{
	-webkit-animation: slide-left 3.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-left 3.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
			animation-iteration-count: infinite; 
			/*animation-fill-mode: both;*/
			/*transition: opacity .33s cubic-bezier(.645,.045,.355,1);*/
		
}

/*delay*/
.section-02 h2.title,
.section-03 h2.title,
.section-05 ul li:nth-child(odd) h3.title div.bn,
.section-05 ul li:nth-child(even) h3.title div.bn{
			animation-iteration-count: infinite; 
			animation-delay: 0.5s;
		

}

/*delay 1*/

.section-04 .medal::after{
			animation-delay: 2s;
		

}



/*text*/
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.text-focus-in{
	-webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
			animation-iteration-count: infinite;
			animation-fill-mode:animation-fill-mode;
}

.best-wrap::before,
.number::after{
	-webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
			animation-fill-mode:animation-fill-mode;
}
.section-04 .medal::before,
.section-04 .medal span,
.section-04 .medal::after{
	-webkit-animation: text-focus-in 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) 3 both;
	        animation: text-focus-in 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) 3 both;
			animation-fill-mode:animation-fill-mode;
			animation-delay: 1s;
			/*animation-iteration-count: infinite; */
}

/*number*/
.scale-in-center,
.number::before {
	-webkit-animation: scale-in-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3 both;
	        animation: scale-in-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3 both;
			/*animation-iteration-count: infinite; */
}


/*review*/

.slide-top,
.section-06 ul li:nth-child(odd) {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both ;
	        animation: slide-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
			
}
.slide-top,
.section-06 ul li:nth-child(even) {
	-webkit-animation: slide-top 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both ;
	        animation: slide-top 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slide-top,
.section-06 .recipe {
	-webkit-animation: slide-top 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both ;
	        animation: slide-top3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
			
}

.bounce-top,
footer a.top{
	-webkit-animation: bounce-top 0.9s 5 both;
	        animation: bounce-top 0.9s 5 both;
}


/*background*/
.kenburns-left {
	-webkit-animation: kenburns-left 5s ease-out 3 backwards;
	        animation: kenburns-left 5s ease-out 3 backwards;
}

/*---------------------------------------------------------------*/

/*paused stop*/
.slide-right,
.section-02::before,
.section-02 h2.title,
.section-03::before,
.section-03 h2.title,
.best-wrap::before,
.number::after,
.medal::before,
.medal span,
.medal::after,
.section-06 ul li:nth-child(odd),
.section-06 ul li:nth-child(even),
.section-07 h3.title,
footer a.top{
	animation-play-state: paused;
	
}

/*hover start*/
.section-02:hover::before,
.section-02:hover h2.title,
.section-03:hover::before,
.section-03:hover h2.title,
.section-04:hover .best-wrap::before,
.section-04:hover .number::after,
.medal:hover::before,
.medal:hover span,
.medal:hover::after,
.section-06:hover ul li:nth-child(odd),
.section-06:hover ul li:nth-child(even),
.section-07:hover h3.title,
footer:hover a.top{
	animation-play-state: running;
	
}


/* ----------------------------------------------
 * Generated by Animista on 2022-2-17 16:50:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
	0% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
	100% {
	  -webkit-transform: translateX(200px);
			  transform: translateX(200px);
	}
  }
  @keyframes slide-right {
	0% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
	100% {
	  -webkit-transform: translateX(200px);
			  transform: translateX(200px);
	}
  }
  /* ----------------------------------------------
 * Generated by Animista on 2022-2-17 22:47:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
	0% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
	100% {
	  -webkit-transform: translateX(-100px);
			  transform: translateX(-100px);
	}
  }
  @keyframes slide-left {
	0% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
	100% {
	  -webkit-transform: translateX(-100px);
			  transform: translateX(-100px);
	}
  }
  

  /* ----------------------------------------------
 * Generated by Animista on 2022-2-17 16:56:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes tracking-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
  

/* ----------------------------------------------
 * Generated by Animista on 2022-2-17 18:39:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
	0% {
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  @keyframes text-focus-in {
	0% {
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  
  /* ----------------------------------------------
 * Generated by Animista on 2022-2-17 20:36:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
	0% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  opacity: 1;
	}
  }
  @keyframes scale-in-center {
	0% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  opacity: 1;
	}
  }
  /* ----------------------------------------------
 * Generated by Animista on 2022-2-17 20:38:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-ver-center {
	0% {
	  -webkit-transform: scaleY(0.4);
			  transform: scaleY(0.4);
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	}
  }
  @keyframes scale-up-ver-center {
	0% {
	  -webkit-transform: scaleY(0.4);
			  transform: scaleY(0.4);
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	}
  }
  

/* ----------------------------------------------
 * Generated by Animista on 2022-2-18 0:14:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
	0% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
	100% {
	  -webkit-transform: translateY(-100px);
			  transform: translateY(-100px);
	}
  }
  @keyframes slide-top {
	0% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
	100% {
	  -webkit-transform: translateY(-100px);
			  transform: translateY(-100px);
	}
  }
  

  /* ----------------------------------------------
 * Generated by Animista on 2022-2-18 1:24:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
	0% {
	  -webkit-transform: translateY(-45px);
			  transform: translateY(-45px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	  opacity: 1;
	}
	24% {
	  opacity: 1;
	}
	40% {
	  -webkit-transform: translateY(-24px);
			  transform: translateY(-24px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	65% {
	  -webkit-transform: translateY(-12px);
			  transform: translateY(-12px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	82% {
	  -webkit-transform: translateY(-6px);
			  transform: translateY(-6px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	93% {
	  -webkit-transform: translateY(-4px);
			  transform: translateY(-4px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	25%,
	55%,
	75%,
	87% {
	  -webkit-transform: translateY(0px);
			  transform: translateY(0px);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	100% {
	  -webkit-transform: translateY(0px);
			  transform: translateY(0px);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	  opacity: 1;
	}
  }
  @keyframes bounce-top {
	0% {
	  -webkit-transform: translateY(-45px);
			  transform: translateY(-45px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	  opacity: 1;
	}
	24% {
	  opacity: 1;
	}
	40% {
	  -webkit-transform: translateY(-24px);
			  transform: translateY(-24px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	65% {
	  -webkit-transform: translateY(-12px);
			  transform: translateY(-12px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	82% {
	  -webkit-transform: translateY(-6px);
			  transform: translateY(-6px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	93% {
	  -webkit-transform: translateY(-4px);
			  transform: translateY(-4px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	25%,
	55%,
	75%,
	87% {
	  -webkit-transform: translateY(0px);
			  transform: translateY(0px);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	100% {
	  -webkit-transform: translateY(0px);
			  transform: translateY(0px);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	  opacity: 1;
	}
  }
  

  /* ----------------------------------------------
 * Generated by Animista on 2022-2-18 1:30:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-left
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-left {
	0% {
	  -webkit-transform: scale(1) translate(0, 0);
			  transform: scale(1) translate(0, 0);
	  -webkit-transform-origin: 16% 50%;
			  transform-origin: 16% 50%;
	}
	100% {
	  -webkit-transform: scale(1.25) translate(-20px, 15px);
			  transform: scale(1.25) translate(-20px, 15px);
	  -webkit-transform-origin: left;
			  transform-origin: left;
	}
  }
  @keyframes kenburns-left {
	0% {
	  -webkit-transform: scale(1) translate(0, 0);
			  transform: scale(1) translate(0, 0);
	  -webkit-transform-origin: 16% 50%;
			  transform-origin: 16% 50%;
	}
	100% {
	  -webkit-transform: scale(1.25) translate(-20px, 15px);
			  transform: scale(1.25) translate(-20px, 15px);
	  -webkit-transform-origin: left;
			  transform-origin: left;
	}
  }
  