/*.slide-right*/

.slide-right{
	-webkit-animation: slide-right 1.2s ease-out forwards;
	        animation: slide-right 1.2s ease-out forwards;
			/*animation-fill-mode: both;*/
			/*animation-iteration-count: infinite; */
			/*animation-fill-mode: both;*/
			/*transition: opacity .33s cubic-bezier(.645,.045,.355,1);*/
			
			
		
}



/*.slide-left*/
.slide-left{
	-webkit-animation: slide-left  1.2s ease-out forwards;
	        animation: slide-left  1.2s ease-out forwards;
			/*animation-iteration-count: infinite; */
			/*animation-fill-mode: both;*/
			/*transition: opacity .33s cubic-bezier(.645,.045,.355,1);*/
		
}


/*delay*/
.delay0{
	animation-delay:  0.8s !important;

}
.delay1{
	animation-delay:  1.4s !important;

}

.delay2{
	animation-delay: 2s !important;
}
.delay3{
	animation-delay: 3s !important;
}

.delay3{
	animation-delay: 4s !important;
}




/*text*/
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.text-focus-in{
	-webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
			/* animation-iteration-count: infinite; */
			animation-fill-mode:animation-fill-mode;
}

.best-wrap::before,
.number::after{
	-webkit-animation: text-focus-in 3s ease-out both;
	        animation: text-focus-in 3s ease-out both;
			animation-fill-mode:animation-fill-mode;
}
.section-04 .medal::before,
.section-04 .medal::after{
	-webkit-animation: text-focus-in 3s ease-out  both;
	        animation: text-focus-in 3s ease-out  both;
			animation-fill-mode:animation-fill-mode;
			/* animation-delay: 1s; */
			/*animation-iteration-count: infinite; */
}

/*number*/
.scale-in-center,
.number::before {
	-webkit-animation: scale-in-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3 both;
	        animation: scale-in-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3 both;
			/*animation-iteration-count: infinite; */
}


/*review*/

.slide-top {
	-webkit-animation: slide-top  1.2s ease-out both ;
	        animation: slide-top  1.2s ease-out both;
			
}



.bounce-top,
footer a.top:hover{
	-webkit-animation: bounce-top 3s 1 both;
	        animation: bounce-top 3s 1 both;
}


/*background*/
.kenburns-left {
	-webkit-animation: kenburns-left 1.2s ease-out both ;
	        animation: kenburns-left 1.2s ease-out both;
}

/*fadeInLeft*/
.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	visibility: visible; 
	animation-duration: 1.2s; 
  }

/*---------------------------------------------------------------*/

/*paused stop*/

.effect{
	animation-play-state: paused ;
	
}

/*hover start*/
.target-section.active .effect {
	animation-play-state: running;
	
}


.scale-up-center {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both ;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both ;
			/* //animation-iteration-count: infinite; */
}



/* ----------------------------------------------
 * Generated by Animista on 2022-2-17 16:50:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
	0% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
	100% {
	  -webkit-transform: translateX(100px);
			  transform: translateX(100px);
	}
  }
  @keyframes slide-right {
	0% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
	100% {
	  -webkit-transform: translateX(100px);
			  transform: translateX(100px);
	}
  }
  /* ----------------------------------------------
 * Generated by Animista on 2022-2-17 22:47:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
	0% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
			  opacity: 0.6;
	}
	100% {
	  -webkit-transform: translateX(-100px);
			  transform: translateX(-100px);
			  opacity: 1;
	}
  }
  @keyframes slide-left {
	0% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
			  opacity: 0.6;
	}
	100% {
	  -webkit-transform: translateX(-100px);
			  transform: translateX(-100px);
			  opacity: 1;
	}
  }
  

  /* ----------------------------------------------
 * Generated by Animista on 2022-2-17 16:56:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes tracking-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
  

/* ----------------------------------------------
 * Generated by Animista on 2022-2-17 18:39:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
	0% {
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  @keyframes text-focus-in {
	0% {
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  
  /* ----------------------------------------------
 * Generated by Animista on 2022-2-17 20:36:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
	0% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  opacity: 1;
	}
  }
  @keyframes scale-in-center {
	0% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  opacity: 1;
	}
  }
  /* ----------------------------------------------
 * Generated by Animista on 2022-2-17 20:38:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-ver-center {
	0% {
	  -webkit-transform: scaleY(0.4);
			  transform: scaleY(0.4);
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	}
  }
  @keyframes scale-up-ver-center {
	0% {
	  -webkit-transform: scaleY(0.4);
			  transform: scaleY(0.4);
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	}
  }
  

/* ----------------------------------------------
 * Generated by Animista on 2022-2-18 0:14:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
	0% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
			  opacity: 0.5;
	}
	100% {
	  -webkit-transform: translateY(-100px);
			  transform: translateY(-100px);
			  opacity: 1;
	}
  }
  @keyframes slide-top {
	0% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
			  opacity: 0.5;
	}
	100% {
	  -webkit-transform: translateY(-100px);
			  transform: translateY(-100px);
			  opacity: 1;
	}
  }
  

  /* ----------------------------------------------
 * Generated by Animista on 2022-2-18 1:24:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
	0% {
	  -webkit-transform: translateY(-45px);
			  transform: translateY(-45px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	  opacity: 1;
	}
	24% {
	  opacity: 1;
	}
	40% {
	  -webkit-transform: translateY(-24px);
			  transform: translateY(-24px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	65% {
	  -webkit-transform: translateY(-12px);
			  transform: translateY(-12px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	82% {
	  -webkit-transform: translateY(-6px);
			  transform: translateY(-6px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	93% {
	  -webkit-transform: translateY(-4px);
			  transform: translateY(-4px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	25%,
	55%,
	75%,
	87% {
	  -webkit-transform: translateY(0px);
			  transform: translateY(0px);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	100% {
	  -webkit-transform: translateY(0px);
			  transform: translateY(0px);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	  opacity: 1;
	}
  }
  @keyframes bounce-top {
	0% {
	  -webkit-transform: translateY(-45px);
			  transform: translateY(-45px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	  opacity: 1;
	}
	24% {
	  opacity: 1;
	}
	40% {
	  -webkit-transform: translateY(-24px);
			  transform: translateY(-24px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	65% {
	  -webkit-transform: translateY(-12px);
			  transform: translateY(-12px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	82% {
	  -webkit-transform: translateY(-6px);
			  transform: translateY(-6px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	93% {
	  -webkit-transform: translateY(-4px);
			  transform: translateY(-4px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	25%,
	55%,
	75%,
	87% {
	  -webkit-transform: translateY(0px);
			  transform: translateY(0px);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	100% {
	  -webkit-transform: translateY(0px);
			  transform: translateY(0px);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	  opacity: 1;
	}
  }
  

  /* ----------------------------------------------
 * Generated by Animista on 2022-2-18 1:30:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-left
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-left {
	0% {
	  -webkit-transform: scale(1) translate(0, 0);
			  transform: scale(1) translate(0, 0);
	  -webkit-transform-origin: 16% 50%;
			  transform-origin: 16% 50%;
	}
	100% {
	  -webkit-transform: scale(1.25) translate(-20px, 15px);
			  transform: scale(1.25) translate(-20px, 15px);
	  -webkit-transform-origin: left;
			  transform-origin: left;
	}
  }
  @keyframes kenburns-left {
	0% {
	  -webkit-transform: scale(1) translate(0, 0);
			  transform: scale(1) translate(0, 0);
	  -webkit-transform-origin: 16% 50%;
			  transform-origin: 16% 50%;
	}
	100% {
	  -webkit-transform: scale(1.25) translate(-20px, 15px);
			  transform: scale(1.25) translate(-20px, 15px);
	  -webkit-transform-origin: left;
			  transform-origin: left;
	}
  }

  /* ----------------------------------------------
 * Generated by Animista on 2022-2-27 19:50:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
			  opacity: 0;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
			  opacity: 1;
	}
  }
  @keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
			  opacity: 0;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
			  opacity: 1;
	}
  }

  /*여기부터 제대로로로----------------------------------------------------------*/
  
  /*fadeInLeft*/
  @-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0.5;
		-webkit-transform: translateX(-150px);
		-ms-transform: translateX(-150px);
		transform: translateX(-150px);
	  }

	  100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	  }
  }

  @keyframes fadeInLeft {
	  0% {
		opacity: 0.5;
		-webkit-transform: translateX(-150px);
		-ms-transform: translateX(-150px);
		transform: translateX(-150px);
	  }

	  100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	  }
	}

